<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee 
              http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
         version="2.5"
         xmlns="http://java.sun.com/xml/ns/javaee">
  <listener>
    <listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
  </listener>
  <context-param>
    <param-name>contextConfigLocation</param-name>
    <param-value>/WEB-INF/applicationContext*.xml</param-value>
  </context-param>

  <!-- <filter>
    <filter-name>filterChainProxy</filter-name>
    <filter-class>org.springframework.security.web.FilterChainProxy</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>filterChainProxy</filter-name>
    <filter-mapping>/dwr/*</filter-mapping>
  </filter-mapping> -->
  
  <mime-mapping>
    <extension>appcache</extension>
    <mime-type>text/cache-manifest</mime-type>
  </mime-mapping>
  <!-- Servlets -->
  <servlet>
    <servlet-name>DwrServlet</servlet-name>
    <servlet-class>org.directwebremoting.spring.DwrSpringServlet</servlet-class>
    <init-param>
        <param-name>debug</param-name>
        <param-value>true</param-value>
    </init-param>
    <init-param>
        <param-name>generateDtoClasses</param-name>
        <param-value></param-value>
    </init-param>
    <!-- <init-param>
        <param-name>customConfigurator</param-name>
        <param-value>org.liujing.ironsword.ctl.DWRConfiguration</param-value>
    </init-param> -->
  </servlet>
  
  <servlet>
    <servlet-name>JSSetupServlet</servlet-name>
    <servlet-class>org.liujing.ironsword.servlet.JSGlobalSetupServlet</servlet-class>
  </servlet>
  
  <servlet-mapping>
    <servlet-name>DwrServlet</servlet-name>
    <url-pattern>/dwr/*</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>JSSetupServlet</servlet-name>
    <url-pattern>/JSGlobalSetupServlet</url-pattern>
  </servlet-mapping>
  <resource-ref>
     <description>My DataSource Reference</description>
     <res-ref-name>jdbc/irondb</res-ref-name>
     <res-type>javax.sql.DataSource</res-type>
     <res-auth>Container</res-auth>
  </resource-ref>
  <!-- Default page to serve -->
  <welcome-file-list>
    <welcome-file>/index.html</welcome-file>
  </welcome-file-list>

</web-app>
