/** SlipBar */
.ver-dragBar{
    height:10px;
    font-size:1px;
    background: url('/img/slipPanel-ver-white.png') no-repeat center center;
    cursor:ns-resize;
}
.hor-dragBar{
    width:10px;
    height:100%;
    font-size:1px;
    background: url('/img/slipPanel-hor-white.png') no-repeat center center;;
    cursor:ew-resize;
    display:inline-block;
    zoom:1;
    *display:inline;
    vertical-align:top;
}
.ver-dragBar.ver-splitDragging{
    background: #cccccc;
    background: rgba(255,255,255, .5);
    -ms-box-shadow:     0px 0px 9px 1px rgba(0,0,0,.7);
    -webkit-box-shadow: 0px 0px 9px 1px rgba(0,0,0,.7);
    -moz-box-shadow:    0px 0px 9px 1px rgba(0,0,0,.7);
    -o-box-shadow:      0px 0px 9px 1px rgba(0,0,0,.7);
    box-shadow:         0px 0px 9px 1px rgba(0,0,0,.7);
}
.hor-dragBar.hor-splitDragging{
    background: #cccccc;
    background: rgba(255,255,255, .5);
    -ms-box-shadow:     0px 0px 9px 1px rgba(0,0,0,.7);
    -webkit-box-shadow: 0px 0px 9px 1px rgba(0,0,0,.7);
    -moz-box-shadow:    0px 0px 9px 1px rgba(0,0,0,.7);
    -o-box-shadow:      0px 0px 9px 1px rgba(0,0,0,.7);
    box-shadow:         0px 0px 9px 1px rgba(0,0,0,.7);
}
.ver-split-panel{
    cursor:ns-resize;
}
.hor-split-panel{
    cursor:ew-resize;
}
.yui3-dd-draggable{
    z-index:100;
}
/** scrollView */
.yui3-myscrollview.user-select{
    -webkit-user-select:auto;
    -moz-user-select:auto;
}
/**dialog */
.lj-dialog-hidden{
    visibility:hidden;
    top:-1000px;
}
.lj-dialog{
    
}
.lj-dialog-content{
    -webkit-backface-visibility: hidden;
    /*background:-o-radial-gradient(center, circle, rgba(0,0,0,0), rgba(0,0,0,0.6)), #cccccc;
    background:-moz-radial-gradient(center, circle, rgba(0,0,0,0), rgba(0,0,0,0.6)), #3454b4;
    background:-webkit-radial-gradient(center, circle, rgba(0,0,0,0), rgba(0,0,0,0.6)), #cccccc;
    background:-ms-radial-gradient(center, circle, rgba(0,0,0,0), rgba(0,0,0,0.6)), #3454b4;
    background:radial-gradient(center, circle, rgba(0,0,0,0), rgba(0,0,0,0.6)), #3454b4;
    */
    background: #e0e0e0;
    color: #303030;
    /*border:10px solid rgba(0, 0, 0, 0.);*/
    -ms-box-shadow:0px 3px 10px 2px rgba(0,0,0,.6);
    -webkit-box-shadow:0px 3px 10px 2px rgba(0,0,0,.6);
    -moz-box-shadow:0px 3px 10px 2px rgba(0,0,0,.6);
    -o-box-shadow:0px 3px 10px 2px rgba(0,0,0,.6);
    box-shadow:0px 3px 10px 2px rgba(0,0,0,.6);
    border-radius:5px 5px 5px 5px;
    -ms-border-radius:5px 5px 5px 5px;
    -o-border-radius:5px 5px 5px 5px;
    -webkit-border-radius:5px 5px 5px 5px;
    -moz-border-radius:5px 5px 5px 5px;
    behavior: url(PIE/PIE.htc);
}
.skin-lj .lj-dialog .lj-dialog-content .yui3-widget-ft{
    background:transparent;
}
.lj-dialog button{
    min-width:80px;
}

/** triangle*/
.triangle-right-white{
    border-color: transparent white transparent transparent;
    border-width:10px;
    width:1px;
    height:1px;
    font-size:1px;
}

/** HorBox Horizontal layout box*/
.skin-lj .yui3-horbox-border{
    position:relative;
    border: 1px solid #606060;
    padding: 4px 2px;
    -moz-border-radius:     6px 6px 6px 6px;
    -webkit-border-radius:  6px 6px 6px 6px;
    border-radius:          6px 6px 6px 6px;
    behavior: url(PIE/PIE.htc);
}
.yui3-skin-sam .yui3-horbox-child{
    display: inline-block;
    zoom:1;
    *display:inline;
}
/** VerBox Vertical layout box*/
.skin-lj .yui3-verbox-border{
    position:relative;
    border: 1px solid #606060;
    padding: 4px 2px;
    -moz-border-radius:     6px 6px 6px 6px;
    -webkit-border-radius:  6px 6px 6px 6px;
    border-radius:          6px 6px 6px 6px;
    behavior:url(PIE/PIE.htc);
}
/** MyEditableGrid */
.skin-lj .yui3-scrollgrid-content .yui3-scrollgrid-s-selItem td{

    background: rgba(30, 255, 255, .9);
    color: black;
    -webkit-box-shadow: 0px 0px 10px 0px   rgba(30, 255, 255, .8);
    -moz-box-shadow:    0px 0px 10px 0px   rgba(30, 255, 255, .8);
    box-shadow:         0px 0px 10px 0px   rgba(30, 255, 255, .8);
    
    -pie-background: linear-gradient(to bottom, rgba(30, 255, 255, .9));
    behavior:url(PIE/PIE.htc);
}
.skin-lj .yui3-scrollgrid-content .yui3-scrollgrid-s-tch-start td{
    background: rgb(7, 180, 180);
    color: black;
}
.skin-lj .yui3-scrollgrid-content .yui3-scrollgrid-s-selItem td:first-child,
.skin-lj .yui3-scrollgrid-content .yui3-scrollgrid-s-tch-start td:first-child{
    color:rgb(7, 180, 180);
}
.skin-lj .yui3-scrollgrid-bottom .yui3-button{
    height:25px;
    font-size:12px;
}
.skin-lj .yui3-scrollgrid-bottom{
    padding: 0px 5px;
    font-size: 12px;
}
.yui3-scrollgrid-no{
    font-size: 12px;
}
/** text_field */
.skin-lj .yui3-mytextfield input[type=text],
.skin-lj .yui3-mytextfield input[type=password]{
    max-width: 20em;
    min-width: 15em;
    margin-left:4px;
    /* background:#606060; */
}
.skin-lj input[type]{
    position:relative;
    background: transparent;
    color: #1effff;
    border: 1px solid #999;
    height:1.5em;
    font-size: 13px;
    -webkit-text-shadow: 0px 0px 8px   rgba(30, 255, 255, .9);
    -moz-text-shadow:    0px 0px 8px   rgba(30, 255, 255, .9);
    text-shadow:         0px 0px 8px   rgba(30, 255, 255, .9);
    behavior:url(PIE/PIE.htc);
    -webkit-box-shadow: inset 1px 0px 5px 0px   rgba(0,0,0, .7);
    -moz-box-shadow:    inset 1px 0px 5px 0px   rgba(0,0,0, .7);
    -o-box-shadow:      inset 1px 0px 5px 0px   rgba(0,0,0, .7);
    -ms-box-shadow:     inset 1px 0px 5px 0px   rgba(0,0,0, .7);
    box-shadow:         inset 1px 0px 5px 0px   rgba(0,0,0, .7);
    margin-left:10px;
}
.skin-lj .yui3-mytextfield{
    padding-right: 10px;
    line-height:2em;
}
.yui3-mytextfield-content > .alt{
    padding-left: 10px;
    font-style:italic;
}
.yui3-myportal .yui3-mytextfield-content{
    padding-top:4px;
    padding-bottom:6px;
    background:url(/img/textfield-b-border.png) left bottom no-repeat;
}
.yui3-mytextfield-label{
    /* text-align:right; */
}
/** button */

.yui3-button:first-child{
    -moz-border-radius:     5px 0 0 5px;
    -webkit-border-radius:  5px 0 0 5px;
    -o-border-radius:       5px 0 0 5px;
    -ms-border-radius:      5px 0 0 5px;
    border-radius:          5px 0 0 5px;
}
.yui3-button:last-child{
    -moz-border-radius:     0 5px 5px 0;
    -webkit-border-radius:  0 5px 5px 0;
    -o-border-radius:       0 5px 5px 0;
    -ms-border-radius:      0 5px 5px 0;
    border-radius:          0 5px 5px 0;
}
.yui3-mybtnbar-content .yui3-button{
    min-width:90px;
}
*{
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0); 
}
.skin-lj .yui3-button{
    behavior: url(PIE/PIE.htc);
    outline:none;
    position:relative;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    outline:none;
    background-color:#666;
    border:1px solid #222;
    /* border-bottom:1px solid #333; */
    border:0px solid white;
    
    color:#ccc;
    font-weight:bold;
    -o-text-shadow:      -1px -1px 0px   rgba(0,0,0, .8);
    -ms-text-shadow:     -1px -1px 0px   rgba(0,0,0, .8);
    -webkit-text-shadow: -1px -1px 0px   rgba(0,0,0, .8);
    -moz-text-shadow:    -1px -1px 0px   rgba(0,0,0, .8);
    text-shadow:         -1px -1px 0px   rgba(0,0,0, .8);
    
    margin: 3px 1px;
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#20ffffff',endColorstr='#00ffffff',GradientType=0);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(rgba(255,255,255, 0.20)), color-stop(40%, rgba(255,255,255, 0.1)), to(transparent));
    background-image: -webkit-linear-gradient(rgba(255,255,255, 0.20), rgba(255,255,255, 0.1) 40%, transparent);
    background-image: -moz-linear-gradient(top, rgba(255,255,255, 0.20), rgba(255,255,255, 0.1) 40%, transparent);
    background-image: -ms-linear-gradient(rgba(255,255,255, 0.20), rgba(255,255,255, 0.1) 40%, transparent);
    background-image: -o-linear-gradient(rgba(255,255,255, 0.30), rgba(255,255,255, 0.1) 40%, transparent);
    background-image: linear-gradient(rgba(255,255,255, 0.20), rgba(255,255,255, 0.1) 40%, transparent);
}
.skin-lj .yui3-button:hover,.skin-lj .button-hl{
    color:#1effff;
    -o-text-shadow:      0px -1px 0 rgba(0,0,0, .8),0px 0px 8px   rgba(30, 255, 255, .9);
    -ms-text-shadow:     0px -1px 0 rgba(0,0,0, .8),0px 0px 8px   rgba(30, 255, 255, .9);
    -webkit-text-shadow: 0px -1px 0 rgba(0,0,0, .8),0px 0px 8px   rgba(30, 255, 255, .9);
    -moz-text-shadow:    0px -1px 0 rgba(0,0,0, .8),0px 0px 8px   rgba(30, 255, 255, .9);
    text-shadow:         0px -1px 0 rgba(0,0,0, .8),0px 0px 8px   rgba(30, 255, 255, .9);
}
.skin-lj .yui3-buttongroup .yui3-button-selected{
    position:relative;
    background-color:#1effff;
    color: black;
    -webkit-box-shadow: 0px 0px 14px 0px   rgba(30, 255, 255, .9);
    -moz-box-shadow:    0px 0px 14px 0px   rgba(30, 255, 255, .9);
    box-shadow:         0px 0px 14px 0px   rgba(30, 255, 255, .9);
    -webkit-text-shadow: none;
    -moz-text-shadow:    none;
    text-shadow:         none;
    behavior: url(PIE/PIE.htc);
}
.skin-lj .yui3-buttongroup .yui3-button{
    -moz-border-radius:     none;
    -webkit-border-radius:  none;
    -o-border-radius:     none;
    -ms-border-radius:  none;
    border-radius:          none;
}
    
/** myportal */

.skin-lj .yui3-myportal .yui3-myportal-content .yui3-widget-ft{
    background:transparent;
}
.skin-lj .yui3-myportal{
    position:relative;
}
.skin-lj .yui3-myportal .yui3-myportal-content .yui3-widget-hd{
    behavior:url(PIE/PIE.htc);
    margin:0px 3px 0px 3px;
    /* top:22px; */
    background: #c0c0c0;
    padding: 4px 28px 4px 8px;
    font:large Arial;
    color:black;
    -o-text-shadow:      0px -1px 0px   rgba(255, 255, 255, .7);
    -ms-text-shadow:     0px -1px 0px   rgba(255, 255, 255, .7);
    -webkit-text-shadow: 0px -1px 0px   rgba(255, 255, 255, .7);
    -moz-text-shadow:    0px -1px 0px   rgba(255, 255, 255, .7);
    text-shadow:         0px -1px 0px   rgba(255, 255, 255, .7);
    
    -moz-border-radius:     5px 5px 5px 5px;
    -webkit-border-radius:  5px 5px 5px 5px;
    -o-border-radius:       5px 5px 5px 5px;
    -ms-border-radius:      5px 5px 5px 5px;
    border-radius:          5px 5px 5px 5px;
    -o-box-shadow:      inset 1px 1px 6px 0 rgba(0,0,0,0.9);
    -moz-box-shadow:    inset 1px 1px 6px 0 rgba(0,0,0,0.9);
    -webkit-box-shadow: inset 1px 1px 6px 0 rgba(0,0,0,0.9);
    -ms-box-shadow:     inset 1px 1px 6px 0 rgba(0,0,0,0.9);
    box-shadow:         inset 1px 1px 6px 0 rgba(0,0,0,0.9);
}

.skin-lj .yui3-myportal .yui3-myportal-content .yui3-widget-ft{
    background: transparent;
}
.expand-height{
    height:100%;
}
.expand-height >.yui3-myportal-content{
    position:absolute!important;
    top:0;
    bottom:4px;
    left:2px;
    right:2px;
}
.skin-lj .yui3-myportal .yui3-myportal-content{
    position:relative;
    /* margin: 2px 0px; */
    -moz-border-radius:     6px 6px 6px 6px;
    -webkit-border-radius:  6px 6px 6px 6px;
    -o-border-radius:          6px 6px 6px 6px;
    -ms-border-radius:          6px 6px 6px 6px;
    border-radius:          6px 6px 6px 6px;
    /* background: #ffcc99; */
    background: url(/img/trans-black-bg.png) repeat;
    background: rgba(0,0,0, 0.4);
    -pie-background: rgba(150,150,150, 0.1);
    
    behavior:url(PIE/PIE.htc);
    border:1px solid #666666; 
    
    padding:3px 0px 0px 0px;
    
    -o-box-shadow:      0px 1px 4px 2px rgba(0,0,0, .5)/*, 0px 1px 10px 1px rgba(255,255,255, .7)*/;
    -moz-box-shadow:    0px 1px 4px 2px rgba(0,0,0, .5)/*, 0px 1px 10px 1px rgba(255,255,255, .7)*/;
    -webkit-box-shadow: 0px 1px 4px 2px rgba(0,0,0, .5)/*, 0px 1px 10px 1px rgba(255,255,255, .7)*/;
    -ms-box-shadow:     0px 1px 4px 2px rgba(0,0,0, .5)/*, 0px 1px 10px 1px rgba(255,255,255, .7)*/;
    box-shadow:         0px 1px 4px 2px rgba(0,0,0, .5)/*, 0px 1px 10px 1px rgba(255,255,255, .7)*/;
}
.skin-lj .yui3-myportal .yui3-myportal-content .yui3-widget-ft{
    padding:1px;
}
.skin-lj .yui3-panel-hidden{
    display: none;
}
/**--------- Scrollable Grid's skin ----------*/
.skin-lj .yui3-scrollgrid-gp-0 .flag{
    margin: 0px 4px 0px 4px;
    float:left;
    /*border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    border-top: 10px solid white;*/
    background:white;
    -moz-border-radius:     5px 5px 5px 5px;
    -webkit-border-radius:  5px 5px 5px 5px;
    border-radius:          5px 5px 5px 5px;
    /*behavior: url(PIE/PIE.htc);*/
    width:10px;
    height:10px;
    font-size:1px;
}
.skin-lj .yui3-scrollgrid-gp-1 .flag{
    margin: 0px 4px 0px 24px;
    float:left;
    /*border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    border-top: 10px solid yellow;*/
    background:yellow;
    -moz-border-radius:     5px 5px 5px 5px;
    -webkit-border-radius:  5px 5px 5px 5px;
    border-radius:          5px 5px 5px 5px;
    /*behavior: url(PIE/PIE.htc);*/
    width:10px;
    height:10px;
    font-size:1px;
}
.skin-lj .yui3-scrollgrid-gp-2 .flag{
    margin: 0px 4px 0px 44px;
    float:left;
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    border-top: 10px solid green;
    width:1px;
    height:1px;
    font-size:1px;
}
.skin-lj .yui3-scrollgrid-gp-0 td{
    background: black;
}
.skin-lj .yui3-scrollgrid-gp-1 td{
    background: black;
}

.skin-lj .yui3-scrollgrid-hover td{
    color:#1effff;
}
 .skin-lj .yui3-scrollgrid-content{
     position:relative;
     -moz-border-radius:     4px 4px 4px 4px;
     -webkit-border-radius:  4px 4px 4px 4px;
     border-radius:          4px 4px 4px 4px;
     /* border:1px solid #909090; */
     background: rgba(255,255,255,.1);
     /* behavior: url(PIE/PIE.htc); */
 }

 
 .skin-lj .yui3-scrollgrid-header-scroll{
     position:relative;
     background:url(/img/header-bg.png) repeat-x #d18f4f;
     -moz-border-radius:     4px 4px 0px 0px;
     -webkit-border-radius:  4px 4px 0px 0px;
     -o-border-radius:      4px 4px 0px 0px;
     -ms-border-radius:     4px 4px 0px 0px;
     border-radius:          4px 4px 0px 0px;
     behavior: url(PIE/PIE.htc); 
     
 }
 .skin-lj .yui3-scrollgrid-body td{
     /* background: rgba(0, 0, 0, 0.2); */
     padding: 4px 6px;
 }
 .skin-lj .yui3-scrollgrid-body td:first-child{
     background: none;
     border-bottom:0px;
     border-right:1px solid #666666;
 }
 .skin-lj .yui3-scrollgrid-header-scroll th{
     color: rgb(6,6,6);
     padding: 4px 4px;
 }


/**----------- PagedGrid's skin ---------------*/
 .skin-lj .yui3-pagedgrid-scroll{
     position:relative;
     -webkit-box-shadow: inset 1px 3px 10px 1px   rgba(30, 255, 255, .9);
     -moz-box-shadow:    inset 1px 3px 10px 1px   rgba(30, 255, 255, .9);
     box-shadow:         inset 1px 3px 10px 1px   rgba(30, 255, 255, .9);
     -moz-border-radius: 0px 0px 8px 8px;
     -webkit-border-radius: 0px 0px 8px 8px;
     border-radius: 0px 0px 8px 8px;
     behavior: url(PIE/PIE.htc);
 }
 .skin-lj div.yui3-pagedgrid-header-scroll{
     position:relative;
     
     background-color: #1effff;
     behavior: url(PIE/PIE.htc);
 }
 .skin-lj .yui3-pagedgrid-body td{
     padding: 4px 4px;
     /*border: 1px solid #cccccc;*/
     border: 1px solid #1effff;
 }
 .skin-lj .yui3-pagedgrid-header-scroll th{
     color: #000020;
     padding: 4px 4px;
     border-right: 1px solid #1effff;
     /*border-left: 1px solid #cccccc;*/
 }

 /* ******* skin sam ********/
 /*
 .yui3-skin-sam .yui3-pagedgrid-body td{
     padding: 4px 4px;
     border: 1px solid #cccccc;
     
 }
 .yui3-skin-sam .yui3-pagedgrid-header-scroll th, .yui3-pagedgrid-body thead th{
     color: white;
     padding: 4px 4px;
     border-right: 1px solid #cccccc;
     border-left: 1px solid #cccccc;
     background-color: #996600;
 }
 
 .yui3-skin-sam .yui3-pagedgrid-scroll{
      -webkit-box-shadow: inset 1px 3px 6px 2px rgba(0, 0, 0, .3);
     -moz-box-shadow: inset 1px 3px 6px 2px rgba(0, 0, 0, .3);
     box-shadow: inset 1px 3px 6px 2px rgba(0, 0, 0, .3);
     -moz-border-radius: 0px 0px 8px 8px;
     -webkit-border-radius: 0px 0px 8px 8px;
     border-radius: 0px 0px 8px 8px;
     background-color: #ffffcc;
 }
 .yui3-skin-sam div.yui3-pagedgrid-header-scroll{
     -moz-border-radius: 8px 8px 0px 0px;
     -webkit-border-radius: 8px 8px 0px 0px;
     border-radius: 8px 8px 0px 0px;
     background-color: #996600;
 }
 .yui3-skin-sam .yui3-pagedgrid-body td{
     padding: 4px 4px;
     border: 1px solid #cccccc;
 }
 .yui3-skin-sam .yui3-pagedgrid-header-scroll th, .yui3-pagedgrid-body thead th{
     color: white;
     padding: 4px 4px;
     border-right: 1px solid #cccccc;
     border-left: 1px solid #cccccc;
     background-color: #996600;
 }
 .yui3-skin-sam{
     background-color:#006699;
     color: #003366;
     font:medium Arial;
 }
 .yui3-skin-sam td, .yui3-skin-sam th{
     color: #006699;
 }
*/

/* system widget required css */

.yui3-verbox-child{
    padding:4px 0px;
}

/** -------- @ScrollableGrid ----------*/
 .yui3-scrollgrid-content{
     font:medium Arial;
     overflow:hidden;
 }
 .yui3-scrollgrid-item-mousedown td{
     background:#ffff99;
     color:black;
     -webkit-box-shadow: 0px 0px 14px 0px   rgba(255, 255, 153, .9);
     -moz-box-shadow:    0px 0px 14px 0px   rgba(255, 255, 153, .9);
     -ms-box-shadow:         0px 0px 14px 0px   rgba(255, 255, 153, .9);
     -o-box-shadow:         0px 0px 14px 0px   rgba(255, 255, 153, .9);
     box-shadow:         0px 0px 14px 0px   rgba(255, 255, 153, .9);
 }
 .yui3-scrollgrid-item-tapped{
     background:#00cc66;
 }
 .yui3-scrollgrid-table{
     /*border: 1px solid #636363;*/
 }
 .yui3-scrollgrid-content th,.yui3-scrollgrid-content td { 
  padding: 0; 
  text-align: left;
  white-space:nowrap;
 }
 .yui3-scrollgrid-content td{
     cursor: pointer;
 }
 .yui3-scrollgrid-body{;
     border-spacing:0;
 }
 .yui3-scrollgrid-header-scroll{
     clear:both;/* fix firefox v20 css float bug found in macAir */
 }
 .yui3-scrollgrid-header-scroll *{
     position:relative;
 }
 .yui3-scrollgrid table{
     border-collapse:collapse;
     border-spacing:0;
 }
 .yui3-scrollgrid-buttons{
     padding:2px;
     position:relative;
     display:inline-block;
     zoom:1;
     *display:inline;
     -moz-border-radius:4px 4px 4px 4px;
     -webkit-border-radius:4px 4px 4px 4px;
     -ms-border-radius:4px 4px 4px 4px;
     -o-border-radius:4px 4px 4px 4px;
     border-radius:4px 4px 4px 4px;
 }
 .yui3-scrollgrid-buttons .yui3-button{
     min-width:8em;
     border-radius:0;
     margin:0;
     padding:0;
     
 }
 .yui3-scrollgrid-total{
     position:absolute;
     bottom:1px;
     right:2px;
 }
 .clear{
     clear:both;
 }
/** App [hack]: avoid Android webkit flick issue*/
 /* .skin-lj .yui3-app-views>div{
     
     overflow:hidden;
 }  */
 /** Hack: fix Android webkit YUI scrollView transform flickering issue */
 .yui3-scrollview-content,.yui3-app-views>div{
    -webkit-backface-visibility: hidden;
} 
.yui3-skin-sam.skin-lj .yui3-console-separate{
    top:auto;
    bottom:4px;
}


