body {
    background: -o-radial-gradient(center, circle, rgba(0,0,0,0), rgba(0,0,0,0.5)), url('/img/wild_oliva.png');
    background: -ms-radial-gradient(center, circle, rgba(0,0,0,0), rgba(0,0,0,0.5)), url('/img/wild_oliva.png');
    background: -moz-radial-gradient(center, circle, rgba(0,0,0,0), rgba(0,0,0,0.5)), url('/img/wild_oliva.png');
    background: -webkit-radial-gradient(center, circle, rgba(0,0,0,0), rgba(0,0,0,0.6)), url('/img/wild_oliva.png');
    background: radial-gradient(center, circle, rgba(0,0,0,0), rgba(0,0,0,0.6)), url('/img/wild_oliva.png');
    -pie-background: linear-gradient(left, rgba(0,0,0,0.5) , rgba(0,0,0,0), rgba(0,0,0,0.5)), url('/img/wild_oliva.png');
    behavior:url(PIE/PIE.htc);
    color:#c9c9c9;
    padding:0px;
    margin:0px;
    height:100%;
    min-height:100%;
}
html{
    height:100%;
    min-height:100%;
}
.skin-lj{
}
.skin-lj div:focus{
    outline:none;
}
/**dialog */
.lj-dialog-hidden{
    visibility:hidden;
    top:-1000px;
}
.lj-dialog-content{
    /*background:-o-radial-gradient(center, circle, rgba(0,0,0,0), rgba(0,0,0,0.6)), #cccccc;
    background:-moz-radial-gradient(center, circle, rgba(0,0,0,0), rgba(0,0,0,0.6)), #3454b4;
    background:-webkit-radial-gradient(center, circle, rgba(0,0,0,0), rgba(0,0,0,0.6)), #cccccc;
    background:-ms-radial-gradient(center, circle, rgba(0,0,0,0), rgba(0,0,0,0.6)), #3454b4;
    background:radial-gradient(center, circle, rgba(0,0,0,0), rgba(0,0,0,0.6)), #3454b4;
    */
    background: #e0e0e0;
    color: #303030;
    /*border:10px solid rgba(0, 0, 0, 0.);*/
    -ms-box-shadow:0px 3px 10px 2px rgba(0,0,0,.6);
    -webkit-box-shadow:0px 3px 10px 2px rgba(0,0,0,.6);
    -moz-box-shadow:0px 3px 10px 2px rgba(0,0,0,.6);
    -o-box-shadow:0px 3px 10px 2px rgba(0,0,0,.6);
    -box-shadow:0px 3px 10px 2px rgba(0,0,0,.6);
    border-radius:5px 5px 5px 5px;
    -ms-border-radius:5px 5px 5px 5px;
    -o-border-radius:5px 5px 5px 5px;
    -webkit-border-radius:5px 5px 5px 5px;
    -moz-border-radius:5px 5px 5px 5px;
    behavior: url(PIE/PIE.htc);
}
.skin-lj .lj-dialog .lj-dialog-content .yui3-widget-ft{
    background:transparent;
}
.lj-dialog button{
    min-width:80px;
}

/** triangle*/
.triangle-right-white{
    border-color: transparent white transparent transparent;
    border-width:10px;
    width:1px;
    height:1px;
    font-size:1px;
}

/** HorBox Horizontal layout box*/
.skin-lj .yui3-horbox-border{
    position:relative;
    border: 1px solid #606060;
    padding: 4px 2px;
    -moz-border-radius:     6px 6px 6px 6px;
    -webkit-border-radius:  6px 6px 6px 6px;
    border-radius:          6px 6px 6px 6px;
    behavior: url(PIE/PIE.htc);
}
.yui3-skin-sam .yui3-horbox-child{
    display: inline-block;
}
/** VerBox Vertical layout box*/
.skin-lj .yui3-verbox-border{
    position:relative;
    border: 1px solid #606060;
    padding: 4px 2px;
    -moz-border-radius:     6px 6px 6px 6px;
    -webkit-border-radius:  6px 6px 6px 6px;
    border-radius:          6px 6px 6px 6px;
    behavior:url(PIE/PIE.htc);
}
/** MyEditableGrid */
.skin-lj .yui3-scrollgrid-content .yui3-scrollgrid-s-selItem td{
    background: #2ff;
    background: rgba(30, 255, 255, .9);
    color: black;
    -webkit-box-shadow: 0px 0px 10px 0px   rgba(30, 255, 255, .8);
    -moz-box-shadow:    0px 0px 10px 0px   rgba(30, 255, 255, .8);
    box-shadow:         0px 0px 10px 0px   rgba(30, 255, 255, .8);
    
    -pie-background: linear-gradient(to bottom, rgba(30, 255, 255, .9));
    behavior:url(PIE/PIE.htc);
}
.skin-lj .yui3-scrollgrid-content .yui3-scrollgrid-s-selItem td:first-child{
    color:rgb(30, 255, 255);
}
.skin-lj .yui3-scrollgrid-bottom .yui3-button{
    height:25px;
    font-size:12px;
}
.skin-lj .yui3-scrollgrid-bottom{
    padding: 0px 5px;
    font-size: 12px;
    text-align: right;
}
/** text_field */
.skin-lj .yui3-mytextfield input[type=text]{
    width: 15em;
    margin-left:4px;
}
.skin-lj input[type='text']{
    position:relative;
    background: transparent;
    color: #1effff;
    border: 1px solid #666666;
    font-size: 13px;
    -webkit-text-shadow: 0px 0px 8px   rgba(30, 255, 255, .9);
    -moz-text-shadow:    0px 0px 8px   rgba(30, 255, 255, .9);
    text-shadow:         0px 0px 8px   rgba(30, 255, 255, .9);
    behavior:url(PIE/PIE.htc);
    /*-webkit-box-shadow: inset 1px 1px 3px 0px   rgba(30, 255, 255, .9);
    -moz-box-shadow:    inset 1px 1px 3px 0px   rgba(30, 255, 255, .9);
    box-shadow:         inset 1px 1px 3px 0px   rgba(30, 255, 255, .9);*/
}
.skin-lj .yui3-mytextfield{
    padding-right: 10px;
    display: inline-block;
}
/** button */
.skin-lj .yui3-button{
    position:relative;
    background-color:#303030;
    -webkit-text-shadow: 0px 0px 8px   rgba(30, 255, 255, .9);
    -moz-text-shadow:    0px 0px 8px   rgba(30, 255, 255, .9);
    text-shadow:         0px 0px 8px   rgba(30, 255, 255, .9);
    color:#1effff;
    margin: 3px 1px;
    behavior: url(PIE/PIE.htc);
}
.skin-lj .yui3-buttongroup .yui3-button-selected{
    position:relative;
    background-color:#1effff;
    color: black;
    -webkit-box-shadow: 0px 0px 14px 0px   rgba(30, 255, 255, .9);
    -moz-box-shadow:    0px 0px 14px 0px   rgba(30, 255, 255, .9);
    box-shadow:         0px 0px 14px 0px   rgba(30, 255, 255, .9);
    -webkit-text-shadow: none;
    -moz-text-shadow:    none;
    text-shadow:         none;
    behavior: url(PIE/PIE.htc);
}
.skin-lj .yui3-buttongroup .yui3-button{
    -moz-border-radius:     none;
    -webkit-border-radius:  none;
    border-radius:          none;
}
    
/** panel */
.skin-lj.yui3-sam .yui3-widget-stdmod .yui3-widget-ft{
    background:transparent;
}
.skin-lj .yui3-panel .yui3-widget-hd{
    background: transparent;
    font-size:large;
}
.skin-lj .yui3-panel-content{
    position:relative;
    margin: 2px 0px;
    -moz-border-radius:     6px 6px 6px 6px;
    -webkit-border-radius:  6px 6px 6px 6px;
    border-radius:          6px 6px 6px 6px;
    
    /*-pie-background: linear-gradient(to bottom, rgba(0,0,0, .5), rgba(0,0,0, .5));*/
    behavior:url(PIE/PIE.htc);
    border:2px solid #666666;
    padding:0px;
    /*background: rgb(32, 32, 32);*/ /* default fallback */
    
    
    /*filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#b2000000, endColorstr=#b2000000);*/ /* IE 6/7 */
    /*-ms-filter:"progid:DXImageTransform.Microsoft.gradient(startColorstr=#b2000000, endColorstr=#b2000000)";*/ /* IE8 */
    background: rgba(0, 0, 0, 0.2);
}
.skin-lj.yui3-skin-sam .yui3-panel .yui3-widget-ft{
    background: transparent;
}
.skin-lj.yui3-skin-sam .yui3-panel-content{
    background: transparent;
}
.skin-lj.yui3-skin-sam .yui3-panel .yui3-widget-ft{
    padding:1px;
}
.skin-lj .yui3-panel-hidden{
    display: none;
}
.skin-lj .yui3-panel-focused .yui3-panel-content{
    -webkit-box-shadow: 0px 0px 15px 1px   rgba(30, 255, 255, .9);
    -moz-box-shadow:    0px 0px 15px 1px   rgba(30, 255, 255, .9);
    box-shadow:         0px 0px 15px 1px   rgba(30, 255, 255, .9);
    border:2px solid rgb(30, 255, 255);
}
/**--------- Scrollable Grid's skin ----------*/
.skin-lj .yui3-scrollgrid-gp-0 .flag{
    margin: 0px 4px 0px 4px;
    float:left;
    /*border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    border-top: 10px solid white;*/
    background:white;
    -moz-border-radius:     5px 5px 5px 5px;
    -webkit-border-radius:  5px 5px 5px 5px;
    border-radius:          5px 5px 5px 5px;
    /*behavior: url(PIE/PIE.htc);*/
    width:10px;
    height:10px;
    font-size:1px;
}
.skin-lj .yui3-scrollgrid-gp-1 .flag{
    margin: 0px 4px 0px 24px;
    float:left;
    /*border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    border-top: 10px solid yellow;*/
    background:yellow;
    -moz-border-radius:     5px 5px 5px 5px;
    -webkit-border-radius:  5px 5px 5px 5px;
    border-radius:          5px 5px 5px 5px;
    /*behavior: url(PIE/PIE.htc);*/
    width:10px;
    height:10px;
    font-size:1px;
}
.skin-lj .yui3-scrollgrid-gp-2 .flag{
    margin: 0px 4px 0px 44px;
    float:left;
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    border-top: 10px solid green;
    width:1px;
    height:1px;
    font-size:1px;
}
.skin-lj .yui3-scrollgrid-gp-0 td{
    background: black;
}
.skin-lj .yui3-scrollgrid-gp-1 td{
    background: black;
}
/*.skin-lj .yui3-scrollgrid-body .yui3-scrollgrid-gp-0 td{
    
}

.skin-lj .yui3-scrollgrid-body .yui3-scrollgrid-gp-1 td{
    padding-left: 1em;
}

.skin-lj .yui3-scrollgrid-body .yui3-scrollgrid-gp-2 td{
    padding-left: 2em;
}*/

.skin-lj .yui3-scrollgrid-hover td{
    color:#1effff;
}
 .skin-lj .yui3-scrollgrid-content{
     position:relative;
     -moz-border-radius:     4px 4px 4px 4px;
     -webkit-border-radius:  4px 4px 4px 4px;
     border-radius:          4px 4px 4px 4px;
     border:1px inset #909090;
     /*background: rgba(255,255,255,.1);*/
     behavior: url(PIE/PIE.htc);
 }
 .skin-lj .yui3-scrollview{
     /*-webkit-box-shadow: inset 1px 3px 10px 1px   rgba(180, 180, 180, .8);
     -moz-box-shadow:    inset 1px 3px 10px 1px   rgba(180, 180, 180, .8);
     box-shadow:         inset 1px 3px 10px 1px   rgba(180, 180, 180, .8);
     behavior: url(PIE/PIE.htc);*/
 }
 
 .skin-lj div.yui3-scrollgrid-header-scroll{
     position:relative;
     background:#909090;
     /*-moz-border-radius:     4px 4px 0px 0px;
     -webkit-border-radius:  4px 4px 0px 0px;
     border-radius:          4px 4px 0px 0px;
     behavior: url(PIE/PIE.htc);
     background: #666666;
     behavior: url(PIE/PIE.htc);*/
     
 }
 .skin-lj .yui3-scrollgrid-body td{
     background: rgba(0, 0, 0, 0.2);
     padding: 4px 4px;
     border-bottom: 1px solid #666666;
 }
 .skin-lj .yui3-scrollgrid-body td:first-child{
     background: none;
     border-bottom:0px;
     border-right:1px solid #666666;
 }
 .skin-lj .yui3-scrollgrid-header-scroll th{
     color: #303030;
     padding: 4px 4px;
 }


/**----------- PagedGrid's skin ---------------*/
 .skin-lj .yui3-pagedgrid-scroll{
     position:relative;
     -webkit-box-shadow: inset 1px 3px 10px 1px   rgba(30, 255, 255, .9);
     -moz-box-shadow:    inset 1px 3px 10px 1px   rgba(30, 255, 255, .9);
     box-shadow:         inset 1px 3px 10px 1px   rgba(30, 255, 255, .9);
     -moz-border-radius: 0px 0px 8px 8px;
     -webkit-border-radius: 0px 0px 8px 8px;
     border-radius: 0px 0px 8px 8px;
     behavior: url(PIE/PIE.htc);
 }
 .skin-lj div.yui3-pagedgrid-header-scroll{
     position:relative;
     
     background-color: #1effff;
     behavior: url(PIE/PIE.htc);
 }
 .skin-lj .yui3-pagedgrid-body td{
     padding: 4px 4px;
     /*border: 1px solid #cccccc;*/
     border: 1px solid #1effff;
 }
 .skin-lj .yui3-pagedgrid-header-scroll th{
     color: #000020;
     padding: 4px 4px;
     border-right: 1px solid #1effff;
     /*border-left: 1px solid #cccccc;*/
 }

 /* ******* skin sam ********/
 /*
 .yui3-skin-sam .yui3-pagedgrid-body td{
     padding: 4px 4px;
     border: 1px solid #cccccc;
     
 }
 .yui3-skin-sam .yui3-pagedgrid-header-scroll th, .yui3-pagedgrid-body thead th{
     color: white;
     padding: 4px 4px;
     border-right: 1px solid #cccccc;
     border-left: 1px solid #cccccc;
     background-color: #996600;
 }
 
 .yui3-skin-sam .yui3-pagedgrid-scroll{
      -webkit-box-shadow: inset 1px 3px 6px 2px rgba(0, 0, 0, .3);
     -moz-box-shadow: inset 1px 3px 6px 2px rgba(0, 0, 0, .3);
     box-shadow: inset 1px 3px 6px 2px rgba(0, 0, 0, .3);
     -moz-border-radius: 0px 0px 8px 8px;
     -webkit-border-radius: 0px 0px 8px 8px;
     border-radius: 0px 0px 8px 8px;
     background-color: #ffffcc;
 }
 .yui3-skin-sam div.yui3-pagedgrid-header-scroll{
     -moz-border-radius: 8px 8px 0px 0px;
     -webkit-border-radius: 8px 8px 0px 0px;
     border-radius: 8px 8px 0px 0px;
     background-color: #996600;
 }
 .yui3-skin-sam .yui3-pagedgrid-body td{
     padding: 4px 4px;
     border: 1px solid #cccccc;
 }
 .yui3-skin-sam .yui3-pagedgrid-header-scroll th, .yui3-pagedgrid-body thead th{
     color: white;
     padding: 4px 4px;
     border-right: 1px solid #cccccc;
     border-left: 1px solid #cccccc;
     background-color: #996600;
 }
 .yui3-skin-sam{
     background-color:#006699;
     color: #003366;
     font:medium Arial;
 }
 .yui3-skin-sam td, .yui3-skin-sam th{
     color: #006699;
 }
*/
/**-- main page -- */

@media all and (min-width:500px) and (max-width:800px){
    
    #leftSection{
        position:absolute;
        top:5px;
        bottom:10px;
        left:5px;
        width:50%;
        overflow:hidden;
    }
}
@media all and (min-width:800px){
#leftSection{
        position:absolute;
        top:5px;
        bottom:10px;
        left:5px;
        width:30%;
        overflow:hidden;
    }
}
@media all and (max-width:499px){
#leftSection{
        position:absolute;
        top:0px;
        bottom:1px;
        left:1px;
        right:1px;
        overflow:hidden;
    }
}
#project{
    position:relative;
    float:left;
    overflow:hidden;
}
#folder{
    position:relative;
    float:left;
    overflow:hidden;
}
#intro{
    height:20%;
    overflow:hidden;
}
#rightSection{
    position:absolute;
    top:0px;
    
    left:485px;
    padding:0px;
    bottom:0px;
}
/* system widget required css */

.yui3-verbox-child{
    padding:4px 0px;
}

/** -------- @ScrollableGrid ----------*/
 .yui3-scrollgrid-content{
     font:medium Arial;
 }
 .yui3-scrollgrid-item-mousedown td{
     background:#ffff99;
     color:black;
     -webkit-box-shadow: 0px 0px 14px 0px   rgba(255, 255, 153, .9);
     -moz-box-shadow:    0px 0px 14px 0px   rgba(255, 255, 153, .9);
     box-shadow:         0px 0px 14px 0px   rgba(255, 255, 153, .9);
 }
 .yui3-scrollgrid-item-tapped{
     background:#00cc66;
 }
 .yui3-scrollgrid-table{
     /*border: 1px solid #636363;*/
 }
 .yui3-scrollgrid-content th,.yui3-scrollgrid-content td { 
  padding: 0; 
  text-align: left;
  white-space:nowrap;
 }
 .yui3-scrollgrid-content td{
     cursor: pointer;
 }
 .yui3-scrollgrid-body{;
     border-spacing:0;
 }
 .yui3-scrollgrid-scroll{
 }
 .yui3-scrollgrid-header-scroll{
     overflow:hidden;
 }
 .yui3-scrollgrid-header-scroll *{
     position:relative;
 }
 .yui3-scrollgrid table{
     border-collapse:collapse;
     border-spacing:0;
 }
 .yui3-scrollgrid-buttons{
     float:left;
 }
 .yui3-scrollgrid-buttons button{
     min-width:10em;
 }
 .yui3-scrollgrid-total{
     bottom:0;
 }
 div.clear{
     clear:both;
 }
/** ------------ @PagedGrid ---------------*/
 .yui3-pagedgrid-content{
     font:medium Arial;
 }
 .yui3-pagedgrid-item-mousedown td{
     background:#ffff99;
     color:black;
     -webkit-box-shadow: 0px 0px 14px 0px   rgba(255, 255, 153, .9);
     -moz-box-shadow:    0px 0px 14px 0px   rgba(255, 255, 153, .9);
     box-shadow:         0px 0px 14px 0px   rgba(255, 255, 153, .9);
 }
 .yui3-pagedgrid-item-tapped{
     background:#00cc66;
 }
 .yui3-pagedgrid-table{
     /*border: 1px solid #636363;*/
 }
 .yui3-pagedgrid-content th,.yui3-pagedgrid-content td { 
  padding: 0; 
  text-align: left;
  white-space:nowrap;
 }
 .yui3-pagedgrid-content td{
     cursor: pointer;
 }
 .yui3-pagedgrid-body{
     border-spacing:0;
 }
 .yui3-pagedgrid-scroll{
     overflow-y:auto;
     overflow-x:auto;
     
 }
 .yui3-pagedgrid-header-scroll{
     overflow-x:hidden;
 }
 .yui3-pagedgrid table{
     border-collapse:collapse;
     border-spacing:0;
     
     
 }



